@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,400i,500,600,700b,800');
html, body{
	font-family: 'Roboto', sans-serif;
}
html{
	position: relative;
	min-height: 100%;
}
body{
	margin-bottom: 100px;
	color: rgb(70,70,70);
}

.green{
	color: rgba(88, 208, 118, 0.69);
}
.red{
	color: rgba(202, 93, 68, 0.69);
}
.yellow{
	color: rgba(225, 177, 45, 0.66);
}
.grey{
	color: rgba(0, 0, 0, 0.3);
}

.bg-white{
	background: rgba(255, 255, 255, 1);
}

.marg-1{
	margin-top: 50px;
}

.marg-2{
	margin-top: 80px;
}

.marg-500{
	margin-top: 500px;
}

.wait-overlay{
	transition: all linear .4s;
	z-index: 1099; 
	position: fixed; /* Sit on top of the page content */
	width: 100%;
	height: 100%;
	background: rgba(50,50,50,.5);
	top: 0;
	height: 1000%;
	opacity: 1;
	left: 0;
}
.wait-overlay.ng-hide{
	opacity: 0;
}
.wait-overlay>i{
	z-index: 1100; 
	color: white;  
	position: absolute; 
	left: 50%; 
	margin-left: -40px; 
	margin-top: 200px;
	font-size: 100px;
}

.lmsg-indicator.red{
	display: inline-block;
	width: 85px;
	height: 85px;
	border-radius: 50%;
	border: 0px solid rgba(202, 93, 68, 0.69);
    background: rgba(202, 93, 68, 0.50);
	transition: background 0.5s, border 0.5s;
}
.lmsg-indicator.green{
	display: inline-block;
	width: 85px;
	height: 85px;
	border-radius: 50%;
	border: 0px solid rgba(88, 208, 118, 0.69);
    background: rgba(88, 208, 118, 0.50);
	transition: background 0.5s, border 0.5s;
}
.lmsg-indicator.blink.red {
    border: 35px solid rgba(202, 93, 68, 0);
    background: rgba(202, 93, 68, 0);
}
.lmsg-indicator.blink.green {
    border: 35px solid rgba(88, 208, 118, 0);
    background: rgba(88, 208, 118, 0);
}

.trans-open-down {
	transition: all linear .3s;
	opacity: 1;
}
.trans-open-down.ng-hide {
	opacity: 0;
}



.example-animate-container {
}

.animate-repeat {
  list-style:none;
  box-sizing:border-box;
}

.animate-repeat.ng-move,
.animate-repeat.ng-enter,
.animate-repeat.ng-leave {
  transition:all linear 0.5s;
}

.animate-repeat.ng-leave.ng-leave-active,
.animate-repeat.ng-move,
.animate-repeat.ng-enter {
  opacity:0;
  max-height:0;
}

.animate-repeat.ng-leave,
.animate-repeat.ng-move.ng-move-active,
.animate-repeat.ng-enter.ng-enter-active {
  opacity:1;
}


button,.form-group {
	transition: all linear 0.2s;
}
button.ng-hide,.form-group.ng-hide {
    opacity:0;
}

.home-logo{
	padding-top:  30px;
	padding-bottom:  20px;
}
.home-logo>.logo{
	width: 170px;
	height: 170px;
}
.home-logo>h1{
	font-size: 70px;
	font-weight: 400;
	margin-bottom: 1px;
}
.home-logo>i{
	font-weight: 100;
	color: rgba(0,0,0,0.5);
	font-size: 16px;
}
.home h2{
	font-weight: 300;
}
.home-text{
	font-size: 14px;
	color: rgba(0,0,0,0.6);
	margin-top: 20px;
	margin-bottom: 20px;
}

#footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 100px;
	background: #f5f5f5;
	color: rgba(0,0,0,0.6);
	padding: 30px;
	border-top: 1px solid rgba(0,0,0,0.04);
}
#footer .logo{
	padding-right: 1px;
	margin-bottom: -2px;
	height: 13px;
}

.dropzone{
	transition: all linear .3s;
	background-position: bottom;
	background-size: 150% 150%;
}
.dropzone.dragover{
	border: 1px dashed rgba(0,20,240,0.7);
	background: rgba(0,20,240,0.09) url('../img/uploading_bg.svg') no-repeat;
	background-position: center;
	background-size: 50% 50%;
}
.dropzone.error{
	border: 1px dashed rgba(200,20,0,0.3);
	background-color: rgba(200,20,0,0.05);
}