.wait-overlay{
	z-index: 1099; 
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(50,50,50,.5);
	top: 0;
}
.wait-overlay>i{
	z-index: 1100; 
	color: white;  
	position: relative; 
	left: 50%; 
	margin-left: -50px; 
	margin-top: 200px;
	font-size: 100px;
}
.green{
	color: rgba(88, 208, 118, 0.69);
}
.red{
	color: rgba(202, 93, 68, 0.69);
}
.yellow{
	color: rgba(225, 177, 45, 0.66);
}
.grey{
	color: rgba(0, 0, 0, 0.3);
}