<div  id="/about/support">
	<h2><i class="fa fa-ticket" aria-hidden="true"></i> {{'Clients Support Module'|translate}}</h2>
	<i>{{'Comming soon'|translate}}...</i>
	<br>
	<br>
	<div class="row text-justify">
		<div class="col-md-8 col-md-offset-2 home-text">
			<p><strong>Раздел поддержки по объектам</strong>:  клиент может задать вопрос в случае неисправности оборудования, установленного на его объектах</p>
			<p><strong>Раздел поддержки по учетным записям</strong>:  клиент может задать вопрос, касающийся работы системы в целом, оплаты, блокировки/разблокировки учетной записи, установки нового оборудования, временного отключения, или подключения объектов</p>
			<p>Любое обращение четко связано с конкретным объектом, или учетной записью.</p>
			<p>Интерфейс выполнен в стиле интернет-месенджеров. Клиенты и специалист технической поддержки в любой момент может посмотерть историю обращений по каждому объекту</p>
			<p><strong>Модуль обеспечивает</strong>:
				<ul>
					<li>Общение с клиентом</li>
					<li>Внесение информации о причинах проблемы и методах её решения</li>
					<li>Планирование и согласование времени выезда для диагностики и устранения неисправности (если это необходимо)</li>
					<li>Назначение сервисных специалистов для проведения работ</li>
					<li>Регистрация результатов выезда, типов проведённых работ</li>
				</ul>
				Вся необходимая информация отображается в личном кабинете клиента и сервисных специалистов и дублируется в виде уведомлений на электронную почту
			</p>
			<p><strong>Доступность и прозрачность.</strong> История взаимодействия с клиентами по каждому объекту хранится на сервере и доступна в любой момент (даже в случае удаления объектов)</p>
			<p><strong>Телефонное общение уходит на второй план!</strong> Как показывает опыт, модуль позволяет практически полностью отказаться от использования телефона в работе технической поддержки</p>
		</div>
	</div>
</div>
