<div  id="/about/admin">
	<h2><i class="fa fa-cogs" aria-hidden="true"></i> {{'Wialon Administrating Module'|translate}}</h2>
	<i>{{'Comming soon'|translate}}...</i>
	<br>
	<br>
	<div class="row text-justify">
		<div class="col-md-8 col-md-offset-2 home-text">
			<p><strong>Создание нескольких объектов по шаблону</strong>. Больше не нужно настраивать или копировать каждый объект - нужен лишь список имён объектов, уникальных ID, типов АТ и номеров симкарт</p>
			<p><strong>Удаление и восстановление вместе с сообщениями в два клика!</strong> Экспорт настроек объекта и сообщений происходит автоматически, нужно лишь выбрать сохраняемые объекты. Как и восстановление объектов и импорт сообщений из бэкапа. Все бэкапы хранятся на сервере и доступны в любое время - больше не нужно скачивать и закачивать файлы.</p>
			<p><strong>Больше не нужно настраивать учетную запись!</strong> Модуль позволяет автоматически выдавать доступ на объекты, ресурсы с шаблонами отчетов и т.д. Учётные записи создаются и настраиваются автоматически по заранее выбранному шаблону. Чтобы подключить нового клиента достаточно указать его наименование и электронную почту (для отправки данных для входа)</p>
			<p><strong>Смена учетной записи.</strong> Удобный перенос объектов между учётными записями с автоматической перевыдачей доступа пользователей, сменой принадлежности группам и т.д.</p>
		</div>
	</div>
</div>
