<nav class="navbar navbar-fluide navbar-fixed-top marg-1 bg-white" >
	<div class="container">
		<form action="" class="navbar-form ">
			<div ng-hide="!items_checked" class="form-group">
			    <div class="btn-group">
			      <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
			      <i class="fa fa-check" data-toggle="dropdown"></i> <span  translate>with selected</span>... <span class="caret"></span></button>
			      <ul class="dropdown-menu dropdown-menu" role="menu">
			        <li><a href="" ng-href="#about/admin">{{'Sync with CRM'|translate}} <sup><span class="label label-primary">CRM</span></sup></a></li>
			        <li class="divider"></li>
			        <li><a href="" ng-href="#about/support">{{'Show events history'|translate}} <sup><span class="label label-primary">CRM</span></sup></a></li>
			      </ul>
			    </div>
			</div>
			<div class="form-group">
				<a href="" ng-href="#about/admin" class="btn btn-default" ><i class="fa fa-plus grey"></i> {{'Create Account'|translate}} <sup><span class="label label-primary">CRM</span></sup></a>
			</div>
			<span  translate>Filters</span>:
			<div class="form-group">
				<a href="" ng-click="resetFilter()" class="btn btn-default" title="{{'Reset all filters'|translate}}"><i class="fa fa-ban grey"></i></a>
			</div>
			<div class="form-group">
				<input ng-model="s.filter.nm" data-ng-model-options="{debounce: 150}"  class="form-control" type="text" name="" placeholder="{{'by Name'|translate}}"  size="15">
			</div>
			<div class="form-group">
				<input ng-model="s.custom_filter.parent_account_nm" data-ng-model-options="{debounce: 150}"  class="form-control" type="text" name="" placeholder="{{'by Parent Account'|translate}}"  size="20">
			</div>
			<div class="form-group ">
				<select ng-model="s.limit" ng-options="value for value in [25,50,100,200,400,800,10000]" class="form-control" name="" placeholder="Limit" id="limit"></select>
			</div>
		</form>
	</div>
</nav>
<br>
<div class="container">
	<div class="table-responsive">
		<table class="table table-striped" id="items-table">
			<thead>
                <tr>
                  <th width="50px"><input type="checkbox" ng-model="all_checked" ng-click="checkAll()"></th> 
                  <th width="50px">#</th>
                  <th translate>ACCOUNT_NAME</th>
                  <th translate>PARENT_ACCOUNT_NAME</th>
                  <th colspan="100" translate></th>
                </tr>
          	</thead>
          	<tbody>
				<tr ng-repeat="item in accounts.items| filter: s.filter | AccountsFilter: s.custom_filter : accounts | orderBy : s.orderby | limitTo : s.limit : 0 as items_result track by $index" class="item-row {{item._checked?'info':''}}">
					<td><input type="checkbox" ng-model="item._checked" ng-change="onItemSelect();"></td>
					<td ng-bind="$index+1"></td>
					<td><a href="" ng-href="#account/{{item.id}}" ng-bind="item.nm"></a></td>
					<td ng-bind="accounts.index.id[item.bpact].nm"></td>
				</tr>
			</tbody>
		</table>
	</div>
	<nav ng-hide="!((accounts.items.length > s.limit)&&(items_result.length === s.limit))" class="text-center" id="paginator">
		<ul class="pagination">
			<li><a href="" ng-click="s.limit = s.limit + s.limit">{{ 'Show more n rows' | translate:{n: s.limit} }}<br><i class="fa fa-chevron-down"></a></i></li>
		</ul>
	</nav>
