<ol>
    <li class="h"><h3>GENERAL PROVISIONS</h3>
        <ol>
            <li>This User Agreement (hereinafter referred to as the Agreement) refers to the <b>WialonCRM</b> service website located at <b>wialoncrm</b>.com, and to all relevant sites linked to the <b>wialoncrm</b>.com website</li>
            <li>The site of the <b>WialonCRM</b> service (hereinafter referred to as the Site) is the property of Ergonomica Ltd.</li>
            <li>This Agreement governs the relationship between the Administration of the <b>WialonCRM</b> website (hereinafter referred to as the Site Administration) and the User of this Site.</li>
            <li>The site administration reserves the right to change, add or delete items of this terms at any time without notification to the User.</li>
            <li>Continued use of the Site by the User means acceptance of the Agreement and changes made to this Agreement.</li>
            <li>The user is personally responsible for verifying this agreement for changes in it.</li>
        </ol>
    </li>
   <li class="h"><h3>SUBJECT OF THE AGREEMENT</h3>
        <ol>
            <li>The subject of this Agreement is the provision to the User <b>WialonCRM</b> of access to the resources of the User contained in the Wialon Hosting system.
                <ol>
                    <li><b>WialonCRM</b> provides the following services to the User: access to the basic functionality of <b>WialonCRM</b> on a free basis</li>
                    <li>This Agreement covers all existing (currently functioning) free <b>WialonCRM</b> services as well as any subsequent modifications and additional additional services <b>WialonCRM</b>.</li>
                </ol>
            </li>
            <li>Access to <b>WialonCRM</b> is free of charge.</li>
            <li>This Agreement is a public offer. By accessing the Site, the User is deemed to have acceded to this Agreement.</li>
            <li>Use of materials and services of the Site is governed by the laws your country.</li>
        </ol>
    </li>
    <li class="h"><h3>RIGHTS AND OBLIGATIONS OF THE PARTIES</h3>    
        <ol>
            <li>The site administration has the right:
                <ol>
                    <li>Change the rules for using the Site, and modify the content of this Site. Changes come into force from the moment of the publication of the new edition of the Agreement on the Site.</li>
                    <li>Restrict access to the Site in case of violation by the User of the terms of this Agreement.</li>
                    <li>Change the fee charged for providing access to the use of the <b>WialonCRM</b> site.</li>
                    <li>Collect the statistics of attendance of the <b>WialonCRM</b> website using methods not prohibited by the legislation your country.</li>
                </ol>
            </li>
            <li>The user has the right:
                <ol>
                    <li>Get access to the use of the site after compliance with registration requirements.</li>
                    <li>Use all services available on the Site, and purchase any Subscriptions offered on the Site.</li>
                    <li>Use the Site solely for the purposes and procedure provided for in the Agreement.</li>
                </ol>
            </li>
            <li>The User of the Site undertakes:
                <ol>
                    <li>Do not take action that may affect how disruptive the normal work of the Site.</li>
                    <li>Do not distribute any confidential and protected information using the Site.</li>
                    <li>Avoid any actions that could violate the confidentiality.</li>
                </ol>
            </li>
            <li>The user is prohibited from:
                <ol>
                    <li>Use any devices, programs, procedures, algorithms and methods, automatic devices or equivalent manual processes for accessing, purchasing, copying or tracking the content of the <b>WialonCRM</b> Site;</li>
                    <li>Violate the proper functioning of the Site;</li>
                    <li>Any way to bypass the navigation structure of the Site for receiving or receiving any information, documents or materials of any means that are not specifically represented by the services of this Site;</li>
                    <li>Unauthorized access to the functions of the Site, any other systems or networks, apply to this Site, as well as to any services offered on the Site;</li>
                    <li>Violate the security or authentication system on the Site or in any network related to the Site.</li>
                    <li>Perform reverse search, track or attempt to track any information about any other Site User.</li>
                    <li>Use the Site and its contents for any purposes prohibited by the actions your country, and incite to any illegal activities or other activities that violate the rights of <b>WialonCRM</b> or others.</li>
                </ol>
            </li>
        </ol>
    </li>
    <li class="h"><h3>A RESPONSIBILITY</h3>
        <ol>
            <li>Any losses that can be used to solve any tasks, as well as for unauthorized access to communications by another User, are not reimbursed by the Site Administration.</li>
            <li>The site administration is not responsible for:
                <ol>
                    <li>Delays or failures in the process of performing operations that occur after force majeure, as well as any malfunction in telecommunication, computer, electrical and other related systems.</li>
                    <li>The proper operation of the Site, in the event that the User does not have the necessary technical means to use it, and also has no obligation to provide users with such means.</li>
                </ol>
            </li>
        </ol>
    <li class="h"><h3>INFRINGEMENT OF THE CONDITIONS OF THE USER AGREEMENT</h3>
        <ol>
            <li>The site administration has the right to disclose any information about the User, which it deems necessary to comply with the provisions of the Users.</li>
            <li>The site administration has the right to disclose information about the User if the current legislation your country requires or permits such disclosure.</li>
            <li>The administration of the site is not liable to the User or third parties for stopping access to the premises in a random order. Any provision of this agreement or other document containing conditions for using the Site.</li>
        </ol>
    <li class="h"><h3>ADDITIONAL CONDITIONS</h3>
        <ol>
            <li>The site administration does not accept counter-offers from the User regarding changes to this User Agreement.</li>
            <li>In the event of discrepancies or any discrepancies in the semantic scope of this document, the text of this Terms in Russian has a considerable force.</li>
        </ol>
    </li>
    <div class="text-right"><i>Edition 28.09.2017</i></div>


