<ol>
	<li class="h"><h3>ОБЩИЕ ПОЛОЖЕНИЯ</h3>
		<ol>
			<li>Настоящее Пользовательское соглашение (далее – Соглашение) относится к сайту сервиса <b>WialonCRM</b>, расположенному по адресу wialoncrm.com, и ко всем соответствующим сайтам, связанным с сайтом wialoncrm.com</li>
			<li>Сайт сервиса <b>WialonCRM</b> (далее – Сайт) является собственностью ООО «Эргономика».</li>
			<li>Настоящее Соглашение регулирует отношения между Администрацией сайта сервиса <b>WialonCRM</b>  (далее – Администрация сайта) и Пользователем данного Сайта.</li>
			<li>Администрация сайта оставляет за собой право в любое время изменять, добавлять или удалять пункты настоящего Соглашения без уведомления Пользователя.</li>
			<li>Продолжение использования Сайта Пользователем означает принятие Соглашения и изменений, внесенных в настоящее Соглашение.</li>
			<li>Пользователь несет персональную ответственность за проверку настоящего Соглашения на наличие изменений в нем.</li>
		</ol>
	</li>

	<li class="h"><h3>ПРЕДМЕТ СОГЛАШЕНИЯ</h3>
		<ol>
			<li>Предметом настоящего Соглашения является предоставление Пользователю <b>WialonCRM</b> доступа к содержащимся в системе Wialon Hosting ресурсам Пользователя.
				<ol>
					<li><b>WialonCRM</b> предоставляет Пользователю следующие виды услуг (сервисов): доступ к базовой функциональности <b>WialonCRM</b> на  бесплатной основе</li>
					<li>Под действие настоящего Соглашения подпадают все существующие (реально функционирующие) на данный момент бесплатные услуги (сервисы) <b>WialonCRM</b>, а также любые их последующие модификации и появляющиеся в дальнейшем дополнительные услуги (сервисы) <b>WialonCRM</b>.</li>
				</ol>
			</li>
			<li>Доступ к <b>WialonCRM</b> предоставляется на бесплатной основе.</li>
			<li>Настоящее Соглашение является публичной офертой. Получая доступ к Сайту Пользователь считается присоединившимся к настоящему Соглашению. </li>
			<li>Использование материалов и сервисов Сайта регулируется нормами действующего законодательства Российской Федерации</li>
		</ol>
	</li>

	<li class="h"><h3>ПРАВА И ОБЯЗАННОСТИ СТОРОН</h3>
		<ol>
			<li>Администрация сайта вправе:
				<ol>
					<li>Изменять правила пользования Сайтом, а также изменять содержание данного Сайта. Изменения вступают в силу с момента публикации новой редакции Соглашения на Сайте.</li>
					<li>Ограничить доступ к Сайту в случае нарушения Пользователем условий настоящего Соглашения.</li>
					<li>Изменять размер оплаты, взимаемый за предоставление доступа к использованию сайта <b>WialonCRM</b>.</li>
					<li>Собирать статистику посещаемости сайта <b>WialonCRM</b>, используя методы, не запрещенные законодательство Российской Федерации.</li>
				</ol>
			</li>
			<li>Пользователь вправе: 
				<ol>
					<li>Получить доступ к использованию Сайта после соблюдения требований о регистрации.</li>
					<li>Пользоваться всеми имеющимися на Сайте услугами, а также приобретать любые Подписки, предлагаемые на Сайте.</li>
					<li>Пользоваться Сайтом исключительно в целях и порядке, предусмотренных Соглашением и не запрещенных законодательством Российской Федерации.</li>
				</ol>
			</li>
			<li>Пользователь Сайта обязуется:
				<ol>
					<li>Не предпринимать действий, которые могут рассматриваться как нарушающие нормальную работу Сайта.</li>
					<li>Не распространять с использованием Сайта любую конфиденциальную и охраняемую законодательством Российской Федерации информацию о физических либо юридических лицах. </li>
					<li>Избегать любых действий, в результате которых может быть нарушена конфиденциальность охраняемой законодательством Российской Федерации информации.</li>
				</ol>
			</li>
			<li>Пользователю запрещается:
				<ol>
					<li>Использовать любые устройства, программы, процедуры, алгоритмы и методы, автоматические устройства или эквивалентные ручные процессы для доступа, приобретения, копирования или отслеживания содержания Сайта <b>WialonCRM</b>;</li>
					<li>Нарушать надлежащее функционирование Сайта;</li>
					<li>Любым способом обходить навигационную структуру Сайта для получения или попытки получения любой информации, документов или материалов любыми средствами, которые специально не представлены сервисами данного Сайта;</li>
					<li>Несанкционированный доступ к функциям Сайта, любым другим системам или сетям, относящимся к данному Сайту, а также к любым услугам, предлагаемым на Сайте;</li>
					<li>Нарушать систему безопасности или аутентификации на Сайте или в любой сети, относящейся к Сайту. </li>
					<li>Выполнять обратный поиск, отслеживать или пытаться отслеживать любую информацию о любом другом Пользователе Сайта.</li>
					<li>Использовать Сайт и его Содержание в любых целях, запрещенных законодательством Российской Федерации, а также подстрекать к любой незаконной деятельности или другой деятельности, нарушающей права <b>WialonCRM</b> или других лиц.</li>
				</ol>
			</li>
		</ol>
	</li>


	<li class="h"><h3>ОТВЕТСТВЕННОСТЬ</h3>
		<ol>
			<li>Любые убытки, которые Пользователь может понести в случае умышленного или неосторожного нарушения любого положения настоящего Соглашения, а также вследствие несанкционированного доступа к коммуникациям другого Пользователя, Администрацией сайта не возмещаются.</li>
			<li>Администрация сайта не несет ответственности за:
				<ol>
					<li>Задержки или сбои в процессе совершения операции, возникшие вследствие непреодолимой силы, а также любого случая неполадок в телекоммуникационных, компьютерных, электрических и иных смежных системах.</li>
					<li>Надлежащее функционирование Сайта, в случае, если Пользователь не имеет необходимых технических средств для его использования, а также не несет никаких обязательств по обеспечению пользователей такими средствами.</li>
				</ol>
			</li>
		</ol>
	</li>

	<li class="h"><h3>НАРУШЕНИЕ УСЛОВИЙ ПОЛЬЗОВАТЕЛЬСКОГО СОГЛАШЕНИЯ</h3>
		<ol>
			<li>Администрация сайта имеет право раскрыть любую информацию о Пользователе, которую посчитает необходимой для выполнения положений действующего законодательства или судебных решений, обеспечения выполнения условий настоящего Соглашения, защиты прав или безопасности название организации, Пользователей.</li>
			<li>Администрация сайта имеет право раскрыть информацию о Пользователе, если действующее законодательство Российской Федерации требует или разрешает такое раскрытие.</li>
			<li>Администрация сайта не несет ответственности перед Пользователем или третьими лицами за прекращение доступа к Сайту в случае нарушения Пользователем любого положения настоящего Соглашения или иного документа, содержащего условия пользования Сайтом.</li>
		</ol>
	</li>

	<li class="h"><h3>ДОПОЛНИТЕЛЬНЫЕ УСЛОВИЯ</h3>
		<ol>
			<li>Администрация сайта не принимает встречные предложения от Пользователя относительно изменений настоящего Пользовательского соглашения. </li>
		</ol>
	</li>
</ol>
<div class="text-right"><i>Редакция от 28.09.2017</i></div>