<div class="container text-center home" >
	<div class="home-logo ">
		<object class="logo" type="image/svg+xml" data="img/logowcrm.svg" ></object>
		<h1>Wialon CRM</h1>
		<i translate>Less clicks - more results</i>
	</div>
	<hr>
	<div ng-hide="wialon.auth" class="">
		<a href="{{agree ? oauth_link : '#'}}" ng-click="$event.stopPropagation();" class="btn btn-{{agree?'primary':'default'}} btn-lg" ng-disabled="!agree"><i class="fa fa-sign-in" aria-hidden="true"></i> {{'Sign in with your Wialon account'|translate}}</a>
		<div ng-if="show_agreement" class="row animate-dropdown">
			<div class="col-md-8 col-md-offset-2 home-text text-justify">
				<div class="page-header text-center" ><h2>{{'Terms of Service'|translate}}</h2></div>
				<div ng-include="'html/views/agreement'+'-'+lng+'.html'" class="agreement"></div>
			</div>
		</div>
		<div class="agree-link">
			<div class="checkbox">
			  <label><input type="checkbox" ng-model="agree" ng-change="saveAgree()"> {{'I agree to the'|translate}} </label>
			 <a href="" ng-click="show_agreement = !show_agreement"><strong>{{'to Terms of Service'|translate}}</strong></a></div>
			</div>
		</div>
	<div ng-if="wialon.auth" class="">
		User name: <strong>{{wialon.user.nm}}</strong>
	</div>
	<!-- <div ng-if="item_name" ng-include="'html/views/about.'+item_name+'.html'"></div> -->
<br>
	<!-- <div ng-include="'html/views/about.support.html'"></div> -->
<br>
<br>
	<!-- <div ng-include="'html/views/about.admin.html'"></div> -->
</div>
<br>
<br>
