<nav class="navbar navbar-fluide navbar-fixed-top marg-1 bg-white" >
	<div class="container-fluide">
		<form action="" class="navbar-form ">
			<div class="row">
				<div class="col-sm-12"><h4><a  href="" ng-href="#/unit/{{unit.id}}" title="Edit Unit">{{unit.nm}}</a> : {{unit.uid}} : {{unit.ph}}</h4></div>
			</div>
<!-- 			<div class="form-group">
				<input ng-model="s.timeFrom" class="form-control" type="datetime-local" name="" placeholder="yyyy-MM-ddTHH:mm:ss"  >
			</div>
			<div class="form-group">
				<input ng-model="s.timeTo" class="form-control" type="datetime-local" name="" placeholder="yyyy-MM-ddTHH:mm:ss"  >
			</div>
			<div class="form-group">
				<button type="button" class=" btn btn-default" ng-click="getMessages()">Load</button>
			</div>
 -->		
 			<div class="form-group">
				<input ng-change="filterCols();" data-ng-model-options="{debounce: 150}" ng-model="s.filter.params" class="form-control" type="type" name="" placeholder="{{'Param name'|translate}}"  >
			</div>
			<div class="form-group navbar-right ">
				{{'Start'|translate}}: 
				<a href="" ng-click="shift(0)" class="btn btn-default"><i class="fa fa-fast-backward" aria-hidden="true"></i></a> 
				<a href="" ng-click="shift(-1)" class="btn btn-default"><i class="fa fa-chevron-left"></i></a> 
				{{s.limitfrom}} 
				<a href="" ng-click="shift(1)" class="btn btn-default"><i class="fa fa-chevron-right"></i></a>
				{{'limit to'|translate}} <select ng-model="s.limitto" ng-options="value for value in [25,50,100,200,400]"  ng-change=" onLimitChange();" class="form-control" name="" placeholder="Limit" id="limitto"></select>
			</div>
		</form>
	</div>
</nav>
<br><br><br><br>
<div ng-if="messages.error"  class="container-fluide"  >
	<br>
	<div class="alert alert-danger alert-dismissable" >
		<button class="close" data-dismiss="alert"><i class="fa fa-times"></i></button>
			<h4>{{'Error'|translate}}</h4>
			<p>{{werrors[messages.error]}}</p>
		</p>
	</div>
</div>
<div class="container-fluide trans-open-down" ng-show="!isEmptyObject(chart_keys)" >
	<div  style="height: 300px;">
	    <linechart data="mdata" options="chart_messages_options"></linechart>
	</div>
	<div class="row">
		<div class="col-sm-4 col-md-offset-8 text-right">
			<a href="" ng-click="chart_keys = {}" class="btn btn-default"><i class="fa fa-close"></i> {{'Close Chart'|translate}}</a>
		</div>
	</div>
</div>
<br>
<div class="container-fluide">
	<div class="table-responsive">
		<table class="table table-striped table-sm example-animate-container" id="items-table">
			<thead>
                <tr>
                  <th width="30px">#</th>
                  <th width="200px">{{'Datetime'|translate}}</th>
                  <th width="30px">XY</th>
                  <th  width="30px"><a href="" ng-click="createChart('_pos_s');">V</a></th>
                  <th  ng-hide="hide_cols[key]"  ng-repeat="(key, value) in messages.all_cols ">
                  <!-- <th  ng-hide="hide_cols[key] || $index<8"  ng-repeat="(key, value) in messages.all_cols "> -->
                  	<a href="" ng-click="createChart(key);">
                  		<i ng-if="chart_keys[key]" class="fa fa-line-chart" aria-hidden="true"></i>
                  		<span ng-bind="::key.substr(3, 50)"></span>
                  	</a>
                  </th>
                </tr>
          	</thead>
          	<tbody>
				<tr ng-repeat="item in messages.items  | orderBy: ['-__t']  | limitTo: s.limitto : s.limitfrom  as items_result" class="item-row animate-repeat">
					<td ng-bind="item.__i"></td>
					<td ng-bind="item.__t*1000 | date : 'yy.MM.dd_HH:mm:ss'"></td>
					<td class="text-nowrap"><a href="{{'https://yandex.ru/maps/?text='+item._pos_y+','+item._pos_x}}" target="_blank" ng-if="item._pos_x && item._pos_y"><i class="fa fa-map-marker"></i></a> <sup ng-bind="::item._pos_sc"></sup></td>
					<td ng-bind="::item._pos_s"></td>
					<!-- <td ng-hide="hide_cols[key] || $index<8" ng-repeat="(key, param) in item "  ng-bind="::(key+'=['+param+']')"></td> -->
					<td ng-hide="hide_cols[key]" ng-repeat="(key, param) in messages.all_cols " title="{{key.substr(3, 50)}}" ng-bind="::item[key]"></td>
				</tr>
			</tbody>
		</table>
	</div>
	<nav ng-hide="!((messages.items.length > s.limitto)&&(items_result.length === s.limitto))" class="text-center" id="paginator">
		<ul class="pagination">
			<li><a href="" ng-click="s.limitto = s.limitto + s.limitto; onLimitChange();">{{ 'Show more n rows' | translate:{n: s.limitto} }}<br><i class="fa fa-chevron-down"></a></i></li>
		</ul>
	</nav>
	<br>
</div>