<div class="container">
	<form class="form-horizontal" action="" name="OptionsForm">
		<div class="row">
		    <div class="form-group {{errClass('nm')}}">
		      <label class="control-label col-sm-3" for="unit_online_max_interval" translate>LANGUAGE</label>
		      <div class="col-sm-5">
	    		<select ng-model="options.item.language" ng-options="key as value for (key,value) in languages " class="form-control"  id="hw" name="hw"  ng-change="validate(); saveItem();"></select>
		      </div>
		    </div>
		    <div  ng-if="glomoscrm.enabled" class="form-group {{errClass('nm')}}">
		      <label class="control-label col-sm-3" for="wialon_crm_token">{{'WIALON_CRM_TOKEN'|translate}} <sup><span class="label label-primary">CRM</span></sup></label>
		      <div class="col-sm-5">
				<div class="input-group">
				    <input  ng-model="options.item.wialon_crm_token"  data-ng-model-options="{debounce: 400}" type="text" class="form-control" id="wialon_crm_token" placeholder="" name="wialon_crm_token"  ng-change="validate(); loginToCRM(); saveItem();">
				    <div class="input-group-btn">
				      <button class="btn btn-default" type="button">
				        <i class="fa fa-check green" ng-if="gcrm.user"></i>
				        <i class="fa fa-warning red" ng-if="!gcrm.user && options.item.wialon_crm_token"></i>
				        <i class="fa fa-warning grey" ng-if="!options.item.wialon_crm_token"></i>
				      </button>
				    </div>
				</div>
				<div ng-if="gcrm.user">
					<br><p><strong>{{'WIALONCRM_USER'|translate}}:</strong></p>
					<p>{{'USERNAME'|translate}}: {{gcrm.user.name}}</p>
					<p>{{'START_DATE'|translate}}: {{gcrm.user.start_dt}}</p>
					<p>{{'END_DATE'|translate}}: {{gcrm.user.end_dt}}</p>
					<p>{{'DESCRIPTION'|translate}}: {{gcrm.user.dsc}}</p>
				</div>
				<div ng-if="!gcrm.user && options.item.wialon_crm_token" class="alert alert-danger" translate>{{gcrm.error}}</div>
		      </div>
		    </div>
		    <div class="form-group {{errClass('nm')}}">
		      <label class="control-label col-sm-3" for="unit_online_max_interval" translate>MAX UNIT ONLINE INTERVAL, S</label>
		      <div class="col-sm-5">
		        <input ng-model="options.item.unit_online_max_interval" type="text" class="form-control" id="unit_online_max_interval" placeholder="" name="unit_online_max_interval"  ng-change="validate(); saveItem();">
		      </div>
		    </div>
<!-- 		    <div class="form-group">
		    	<div class="col-sm-5 col-md-offset-3">
					<button class="btn btn-default" type="button" ng-click="saveItem();"><i class="fa fa-save"></i> Save</button>
				</div>
		    </div>
 -->		
 		</div>
	</form>
</div>