<br>
<div class="row">
	<div class="col-sm-5">
		<form class="form-horizontal" action="">
		    <div class="form-group">
		      <label class="control-label col-sm-3" for="{{'n_'+sensor.id}}">Name:</label>
		      <div class="col-sm-9">
		        <input ng-model="sensor.n" type="text" class="form-control"  placeholder="" name="{{'n_'+sensor.id}}" id="{{'n_'+sensor.id}}">
		      </div>
		    </div>
		    <div class="form-group">
		      <label class="control-label col-sm-3" for="{{'t_'+sensor.id}}">Type:</label>
		      <div class="col-sm-9">
				<select ng-model="sensor.t" class="form-control"  placeholder="" name="{{'t_'+sensor.id}}" id="{{'t_'+sensor.id}}" >
					<optgroup label="Пробег">
						<option value="mileage">Датчик пробега</option>
						<option value="odometer">Относительный одометр</option>
					</optgroup>
					<optgroup label="Цифровые">
						<option value="engine operation">Датчик зажигания</option>
						<option value="alarm trigger">Тревожная кнопка</option>
						<option value="private mode">Частный режим</option>
						<option value="real-time motion sensor">Датчик мгновенного определения движения</option>
						<option value="digital">Произвольный цифровой датчик</option>
					</optgroup>
					<optgroup label="Показатели">
						<option value="voltage">Датчик напряжения</option>
						<option value="weight">Датчик веса</option>
						<option value="accelerometer">Акселерометр</option>
						<option value="temperature">Датчик температуры</option>
						<option value="temperature coefficient">Коэффициент температуры</option>
					</optgroup>
					<optgroup label="Двигатель">
						<option value="engine rpm">Датчик оборотов двигателя</option>
						<option value="engine efficiency">Датчик полезной работы двигателя</option>
						<option value="engine hours">Абсолютные моточасы</option>
						<option value="relative engine hours">Относительные моточасы</option>
					</optgroup>
					<optgroup label="Топливо">
						<option value="impulse fuel consumption">Импульсный датчик расхода топлива</option>
						<option value="absolute fuel consumption">Датчик абсолютного расхода топлива</option>
						<option value="instant fuel consumption">Датчик мгновенного расхода топлива</option>
						<option value="fuel level" selected="">Датчик уровня топлива</option>
						<option value="fuel level impulse sensor">Импульсный датчик уровня топлива</option>
					</optgroup>
					<optgroup label="Другие">
						<option value="counter">Счетчик</option>
						<option value="custom">Произвольный датчик</option>
						<option value="driver">Привязка водителя</option>
						<option value="trailer">Привязка прицепа</option>
					</optgroup>
				</select>									        
		      </div>
		    </div>
		    <div class="form-group">
		      <label class="control-label col-sm-3" for="{{'p_'+sensor.id}}">Param</label>
		      <div class="col-sm-9">
		        <!-- <select  ng-options="key as key+': '+value for (key, value) in short_item.lmsg.p" class="form-control"   name="{{'p_'+sensor.id}}" id="{{'p_'+sensor.id}}"></select> -->
				<input ng-model="sensor.p" class="form-control"   name="{{'p_'+sensor.id}}" id="{{'p_'+sensor.id}}" list="sensor-p-list" >
				<datalist id="sensor-p-list">
					<option ng-repeat="(key, value) in short_item.lmsg.p" value="{{key}}" label="{{value}}">
				</datalist> 									      
		      </div>
		    </div>
		    <div class="form-group">
		      <label class="control-label col-sm-3" for="{{'m_'+sensor.id}}">Units</label>
		      <div class="col-sm-9">
		        <input ng-model="sensor.m" type="text" class="form-control"  placeholder="" name="{{'m_'+sensor.id}}" id="{{'m_'+sensor.id}}" >
		      </div>
		    </div>
		    <div class="form-group">
		      <label class="control-label col-sm-3" for="{{'m_'+sensor.id}}">Source Table</label>
		      <div class="col-sm-9">
		        <textarea ng-model="sensor._dsrc" type="text" class="form-control" rows="10" placeholder="" name="{{'d_'+sensor.id}}" id="{{'d_'+sensor.id}}" ng-change="parceSensorTable(sensor);" ></textarea>
		      </div>
		    </div>
		</form>
	</div>
	<div class="col-sm-3">
		<table class="table table-striped table-bordered" >
			<thead>
				<tr>
					<th>x</th>
					<th>y</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="row in sensor._d">
					<td ng-if="row.error" colspan="2" class="danger">{{row.error}}</td>
					<td ng-if="!row.error">{{row.x}}</td>
					<td ng-if="!row.error">{{row.y}}</td>
				</tr>
			</tbody>
		</table>
		</div>
	<div class="col-sm-3">
		<table class="table table-striped table-bordered" >
			<thead>
				<tr>
					<th>a</th>
					<th>x</th>
					<th>b</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="row in sensor.tbl">
					<td>{{row.a}}</td>
					<td>{{row.x}}</td>
					<td>{{row.b}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
