<form class="form-horizontal" action="" name="UnitForm">
	<div class="container">
		<div class="row">
			<div class="col-sm-6">
			    <div class="form-group {{errClass('nm')}}">
			      <label class="control-label col-sm-3" for="nm" required >{{'UNIT_NAME'|translate}}:</label>
			      <div class="col-sm-9">
			        <input ng-model="item.nm" type="text" class="form-control" id="nm" placeholder="" name="nm" required ng-change="validate(); checkChagnes();">
			      </div>
			    </div>
			    <div class="form-group {{errClass('uid')}}">
			      <label class="control-label col-sm-3" for="uid">{{'UID'|translate}}:</label>
			      <div class="col-sm-9">
			        <input ng-model="item.uid" type="text" class="form-control" id="uid" placeholder="" name="uid"  ng-change="validate();  checkChagnes();">
			      </div>
			    </div>
			    <div class="form-group {{errClass('ph')}}">
			      <label class="control-label col-sm-3" for="ph">{{'PHONE'|translate}}:</label>
			      <div class="col-sm-9">
			        <input ng-model="item.ph" type="text" class="form-control " id="ph" placeholder="" name="ph"  ng-change="checkPlus(); validate();  checkChagnes();">
			      </div>
			    </div>
			    <div class="form-group {{errClass('hw')}}">
			      <label class="control-label col-sm-3" for="hw">{{'HW'|translate}}:</label>
			      <div class="col-sm-9">
		    		<select ng-model="item.hw" ng-options="type.id as type.name for type in hwtypes.items | orderBy : 'name'" class="form-control"  id="hw" name="hw"  ng-change="validate();  checkChagnes();"></select>
			      </div>
			    </div>
			    <div class="form-group {{errClass('psw')}}">
			      <label class="control-label col-sm-3" for="psw">{{'PASSWORD'|translate}}:</label>
			      <div class="col-sm-9">
			        <input ng-model="item.psw" type="text" class="form-control" id="psw" placeholder="" name="psw"  ng-change="validate();  checkChagnes();">
			      </div>
			    </div>
			    <div class="form-group">
			    	<div class="col-sm-9 col-md-offset-3">
						<button class="btn btn-{{item_changed ? 'primary' : 'default'}} btn-block " type="button" ng-disabled="!uv.valid" ng-click="saveItem();"><i class="fa fa-save"></i> {{'Save changes'|translate}}</button>
					</div>
			    </div>
			</div>
			<div class="col-sm-6 text-center">
				<p ng-if="crm_object">
					<i class="fa fa-check green"></i> WIALONCRM Object connected
					<br>Company: {{crm_object.kname}}
				</p>
				<p>{{'Last Message'|translate}}: {{(now.ut-short_item.lmsg.t) | UTtoTime}}</p>
				<div class="lmsg-indicator {{blink ? 'blink' : ''}} {{['green','red'][1*((now.ut-short_item.lmsg.t)>opt.unit_online_max_interval)]}}" ></div>
				<p>{{'SPEED'|translate}}: {{short_item.lmsg.pos.s}} km/h</p>
				<p>
					<a ng-if="short_item.lmsg.pos.y" target="_blank" href="{{'https://yandex.ru/maps/?text='+short_item.lmsg.pos.y+','+short_item.lmsg.pos.x}}">{{short_item.lmsg.pos.y}},{{short_item.lmsg.pos.x}} </a>
					<span  ng-if="short_item.lmsg.pos.sc">({{short_item.lmsg.pos.sc}})</span>
					<span  ng-if="short_item.lmsg.pos.sc===undefined || !short_item.lmsg.pos.y">{{'No data'|translate}}</span>
				</p>
				<a class="btn btn-default" type="button" href="" ng-href="#/unit/{{id}}/messages"><i class="fa fa-map-marker"></i> {{'Go to Mesages'|translate}}</a>
			</div>
		</div>
	    <div ng-if="!uv.valid && item.id && short_item.id" class="alert alert-danger ">
	    	<strong>{{'Warning'|translate}}!</strong>
	    	<ul>
	    		<li ng-repeat="(key, error) in uv.errors">{{error.msg}} <a ng-if="error.link" ng-href="{{error.link}}" href="" >{{error.title}}</a></li>
	    	</ul>
	    </div>
	</div>
	<div ng-if="item.id && short_item.id" class="container">
		<div >
			<h4>{{'Sensors'|translate}}</h4>
			<table class="table">
				<tbody>
					<tr ng-repeat-start="(key, sensor) in item.sens" class="{{sensor._deleted ? 'danger' : ''}} {{!sensor.id ? 'info' : ''}} {{sensor._checked?'active':''}}" >
						<td>{{$index+1}}</td>
						<td><input type="checkbox" ng-model="sensor._checked" ng-change="onSensorCheck()"></td>
						<td>
							<a ng-if="sensor_id !== sensor._id" href="" ng-href="#/unit/{{id}}/sensor/{{sensor._id}}" ng-click="goto(sensor._id)">{{sensor.n}}</a>
							<a ng-if="sensor_id === sensor._id" href="" ng-href="#/unit/{{id}}" ng-click="goto()">{{sensor.n}}</a>
							<small ng-if="!sensor.id">({{'will be created'|translate}})</small>
							<small ng-if="sensor._deleted">({{'will be removed'|translate}})</small>
						</td>
						<td >
							<a href="" ng-click="sensor.c.appear_in_popup = !sensor.c.appear_in_popup; checkChagnes();" >
								<i class="fa fa-eye" aria-hidden="true" ng-if="sensor.c.appear_in_popup" ></i>
								<i class="fa fa-eye grey" aria-hidden="true" ng-if="!sensor.c.appear_in_popup" ></i>
							</a>
						</td>
						<td>{{'st_'+sensor.t|translate}}</td>
						<td>{{sensor.p}}</td>
						<td>{{short_item.lmsg.p[sensor.p]}}</td>
						<td>{{sensor | ParamToSensorValue : short_item.lmsg : item}}</td>
						<td>{{sensor.m}}</td>
						<td width="30px"><a href="" ng-click="copySensor(sensor, key); validate(); checkChagnes();"><i class="fa fa-clone" aria-hidden="true" title="{{'Copy Sensor'|translate}}"></i></a></td>
						<td width="30px"><a href="" ng-click="deleteSensor(sensor, key); validate(); checkChagnes();" title="{{'Delete Sensor'|translate}}"><i class="fa fa-remove red"></i></a></td>
					</tr>
					<tr ng-if="1*sensor._id === 1*sensor_id" ng-repeat-end class="trans-open-down">
						<td colspan="100" ng-include="'html/views/unit.sensor-form.html'" scope=""   onload=""></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="row">
			<div class="col-md-6 col-md-offset-3"><a ng-hide="!sensors_checked" my-pop="{{'help-merge'|translate}}" class="glued-right" data-placement="top"></a>
				<button ng-hide="!sensors_checked" ng-click="mergeSensors(); checkChagnes();" type="button" class="btn btn-primary btn-block"><i class="fa fa-compress"></i> {{'Merge Sensors'|translate}} </button>
				<button ng-hide="sensors_checked" ng-click="createSensor(); checkChagnes();" type="button" class="btn btn-default btn-block"><i class="fa fa-plus"></i> {{'Create new Sensor'|translate}}</button>
			</div>
		</div>
		<br>
		<br>
		<br>
	</div>
</form>
<div ng-include="'html/views/unit.multisensor-dialog.html'" scope="" onload=""></div>
